<nav class="navbar bg-body-tertiary px-4">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <i class="bi bi-postcard"></i> Job Portal
    </a>

    <div class="ms-auto d-flex align-items-center">
      <ng-container *ngIf="isConnected(); else loginLink">
        <span class="me-3">
          Connecté en tant que <strong>{{ getRoleLabel() }}</strong>
        </span>
        <div *ngIf="isCandidat()" class="position-relative me-2">
          <button
            class="btn btn-info btn-sm"
            [routerLink]="['/candidature']"
          >
            <i class="fas fa-envelope"></i> Mes candidatures
            <span 
              *ngIf="unreadCount > 0" 
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ unreadCount }}
              <span class="visually-hidden">notifications non lues</span>
            </span>
          </button>
        </div>
        
        <button
          *ngIf="isRecruteur()"
          class="btn btn-primary btn-sm me-2"
          [routerLink]="['/create-job']"
        >
          Créer un poste
        </button>
        
        <button
          *ngIf="isRecruteur()"
          class="btn btn-primary btn-sm me-2"
          [routerLink]="['/annonces']"
        >
          Mes annonces
        </button>
        
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">
          Déconnexion
        </button>
      </ng-container>
      
      <ng-template #loginLink>
        <a [routerLink]="['/login']">
          <button class="btn btn-outline-success btn-sm me-2" type="button">
            Connexion
          </button>
        </a>
        <a [routerLink]="['/register']">
          <button class="btn btn-outline-primary btn-sm" type="button">
            S'inscrire
          </button>
        </a>
      </ng-template>
    </div>
  </div>
</nav>