<div class="job-list">
  <h2>Liste des offres d'emploi</h2>

  <form (submit)="searchJobs(); $event.preventDefault()" class="mb-4 grid grid-cols-1 sm:grid-cols-3 gap-2">
  <input type="text" placeholder="Lieu" [(ngModel)]="location" name="location" class="border p-2 rounded" />
  <input type="text" placeholder="Type (Full-time, etc)" [(ngModel)]="type" name="type" class="border p-2 rounded" />
  <input type="text" placeholder="Niveau (Junior, etc)" [(ngModel)]="experienceLevel" name="experienceLevel" class="border p-2 rounded" />
  <button type="submit" class="col-span-1 sm:col-span-3 bg-blue-500 text-white p-2 rounded">Rechercher</button>
</form>

  <div *ngFor="let job of jobs" class="job-card">
    <h3>{{ job.title }}</h3>
    <p><strong>Description:</strong> {{ job.description }}</p>
    <p><strong>Localisation:</strong> {{ job.location || 'Non précisée' }}</p>
    <p><strong>Type:</strong> {{ job.type }}</p>
    <p><strong>Salaire:</strong> {{ job.salaryMin }}€ - {{ job.salaryMax }}€</p>
    <hr>
  </div>
</div>
